@model freccamp.Models.Home
@{
    ViewBag.Title = "Camps at Freedom Run Equestrian Center";
    Layout = "~/Views/Shared/layout.cshtml";
}
<section class="well01">
    <div class="container">
        <div class="row">
            <div class="grid_12" style="text-align: center; font-weight: bold; font-size: larger; color: #bbb313">Click above to register or call (206) 718-3798 for a summer of horse-loving fun today!</div>
            <div class="grid_4">
                <div style="font-weight: bold; text-decoration: underline">Regular Camps</div>
                <table>
                    @foreach (var camp in Model.RegularCamps)
                    {
                        <tr>
                            <td style="font-weight: bold">@camp.Name</td>
                            <td>:&nbsp;</td>
                            <td>@camp.StartDate.ToCustomDateString()</td>
                            <td>&nbsp;to&nbsp;</td>
                            <td>@camp.EndDate.ToCustomDateString()</td>
                        </tr>
                    }
                </table>
                <div style="margin-top: 10px; font-weight: bold; text-decoration: underline">Advanced Camps</div>
                <div>August - TBD based on interest</div>
                <div style="margin-top: 20px;">
                    $450 per camper/per session<br />$50 multiple camp/sibling discount
                </div>
                <div style="margin-top: 20px;">
                    Horse camp days are filled with quality horse back riding instruction - with hours every day spent in the saddle. When they are not riding, our campers are learning
                    horsemanship and management. Every day at horse camp, we have our art director work in the arts with our campers making fun horse-related crafts. Whether riding, playing
                    games or doing art, the campers dats are fille with fun and friends. We look forward to spending the summer with your camper. Reserve your spot today.
                </div>
            </div>
            <div class="grid_4">
                <div class="owl-carousel">
                    <div class="item">
                        <img src="~/images/campphoto1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/images/campphoto2.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/images/campphoto4.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="grid_4">
                Freedom Run Equestiran Center horse camps are geared towards horse lovers aged between 6 and 14 years old. Horse camps start bright and early at 9:00am each day and comclude at 4:00pm.
                Campers are required to wear boots and long pants. Campers must wear helmets (a limited number of school helmets are available). Advanced camp attendees must be able to wal, trot and
                canter in a group setting. All campers should pack a lunch.
            </div>
        </div>
    </div>
</section>
