@model freccamp.Models.Home
@{
    ViewBag.Title = "Camps at Freedom Run Equestrian Center";
    Layout = "~/Views/Shared/layout.cshtml";
}

<table>
    @foreach(var camp in Model.RegularCamps) {
        <tr>
            <td>@camp.Name</td>
            <td>:&nbsp;</td>
            <td>@camp.StartDate.ToCustomDateString()</td>
            <td>&nbsp;to&nbsp;</td>
            <td>@camp.EndDate.ToCustomDateString()</td>
        </tr>
    }
</table>
