<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gallery</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no"/>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/search.css">
  <link rel="stylesheet" href="css/jquery.fancybox.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="js/jquery.js"></script>
  <script src="js/jquery-migrate-1.2.1.js"></script>

  <!--[if lt IE 9]>
  <html class="lt-ie9">
  <div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
  </div>
  <script src="js/html5shiv.js"></script>
  <![endif]-->

  <script src='js/device.min.js'></script>
</head>
<body>
<div class="page">
  <div class="wrap">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="bg01">
      <div class="bb">
        <div class="container">
          <div class="brand">
            <h1 class="brand_name">
              <a href="./">Taekwondo Times</a>
            </h1>
          </div>
        </div>
      </div>
      <div id="stuck_container" class="stuck_container">
        <div class="container bg01">
          <nav class="nav">
            <ul class="sf-menu" data-type="navbar">
              <li>
                <a href="./">Home</a>
              </li>
              <li>
                <a href="index-1.html">About us</a>
                <ul>
                  <li>
                    <a href="#">Mauris accumsan</a>
                    <ul>
                      <li>
                        <a href="#">Sit amet</a>
                      </li>
                      <li>
                        <a href="#">Consectetuer</a>
                      </li>
                      <li>
                        <a href="#">Adipiscing elit</a>
                      </li>
                      <li>
                        <a href="#">Pellentesque</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Nulla vel diam</a>
                  </li>
                  <li>
                    <a href="#">Sed in lacus ut</a>
                  </li>
                  <li>
                    <a href="#">Enim adipiscing</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="index-2.html">News & events</a>
              </li>
              <li class="active">
                <a href="index-3.html">Gallery</a>
              </li>
              <li>
                <a href="index-4.html">Contacts</a>
              </li>
            </ul>
          </nav>
          <div class="search-wrap">
            <a class="search-form_toggle" href="#"></a>
            <form class="search-form" action="search.php" method="GET" accept-charset="utf-8">
              <label class="search-form_label">
                <input class="search-form_input" type="text" name="s" autocomplete="off" placeholder="Search.."/>
                <span class="search-form_liveout"></span>
              </label>
              <button class="search-form_submit fa-search" type="submit"></button>
            </form>
          </div>
        </div>
      </div>
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="bg03">
      <section class="well02">
        <div class="container">
          <div class="h2-wrap">
            <h2 class="bg02">Our Photos</h2>
          </div>
          <div class="row">
            <div class="grid_8">
              <div class="box02 wow fadeInLeft">
                <a data-fancybox-group="1" class="thumb" href="images/page-4_img01_original.jpg">
                  <img src="images/page-4_img01.jpg" alt="">
                  <span class="thumb_overlay"></span>
                </a>
                <div class="box02_cnt" data-equal-group="1">
                  <h4>Nascetur ridiculus mus nulla dui fusce feugiat malesuada </h4>
                  <p>Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Aenean nonummy hendrerit mauris. Phasellus porta.  </p>
                </div> 
              </div> 
            </div>
            <div class="grid_4">
              <div class="box02 wow fadeInRight">
                <a data-fancybox-group="1" class="thumb" href="images/page-1_img06_original.jpg">
                  <img src="images/page-4_img02.jpg" alt="">
                  <span class="thumb_overlay"></span>
                </a>
                <div class="box02_cnt" data-equal-group="1">
                  <h4>Nulla dui fusce feugiat </h4>
                  <p>Cum sociis natoque penatibus et magnis dis  nt montes, nascetur ridiculus mus. Sed posuerensect.</p>
                </div> 
              </div> 
            </div>
          </div>
          <div class="row mt1">
            <div class="grid_4">
              <div class="box02 wow fadeInLeft">
                <a data-fancybox-group="1" class="thumb" href="images/page-4_img03_original.jpg">
                  <img src="images/page-4_img03.jpg" alt="">
                  <span class="thumb_overlay"></span>
                </a>
                <div class="box02_cnt" data-equal-group="2">
                  <h4>Cum sociis natoque pena</h4>
                  <p>Fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condim.</p>
                </div> 
              </div> 
            </div>
            <div class="grid_4">
              <div class="box02 wow fadeInUp">
                <a data-fancybox-group="1" class="thumb" href="images/page-4_img04_original.jpg">
                  <img src="images/page-4_img04.jpg" alt="">
                  <span class="thumb_overlay"></span>
                </a>
                <div class="box02_cnt" data-equal-group="2">
                  <h4>Tibus et magnis dis parturie</h4>
                  <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condim. entum nibh, ut fermentum.</p>
                </div> 
              </div> 
            </div>
            <div class="grid_4">
              <div class="box02 wow fadeInRight">
                <a data-fancybox-group="1" class="thumb" href="images/page-4_img05_original.jpg">
                  <img src="images/page-4_img05.jpg" alt="">
                  <span class="thumb_overlay"></span>
                </a>
                <div class="box02_cnt" data-equal-group="2">
                  <h4>Montes nascetur ridiculus </h4>
                  <p>Entum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentu.</p>
                </div> 
              </div> 
            </div>
          </div>
          <div class="row mt2">
            <div class="grid_6">
              <div class="box02 wow fadeInLeft">
                <a data-fancybox-group="1" class="thumb" href="images/page-1_img05_original.jpg">
                  <img src="images/page-4_img06.jpg" alt="">
                  <span class="thumb_overlay"></span>
                </a>
                <div class="box02_cnt" data-equal-group="3">
                  <h4>Dui fusce feugiat malesuada odio morbi </h4>
                  <p>Nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</p>
                </div> 
              </div> 
            </div>
            <div class="grid_6">
              <div class="box02 wow fadeInRight">
                <a data-fancybox-group="1" class="thumb" href="images/page-4_img07_original.jpg">
                  <img src="images/page-4_img07.jpg" alt="">
                  <span class="thumb_overlay"></span>
                </a>
                <div class="box02_cnt" data-equal-group="3">
                  <h4>Maecenas tristique orci ac sem fuis ultricies </h4>
                  <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. </p>
                </div> 
              </div> 
            </div>
          </div>
        </div>
      </section>
    </main>

    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
      <div class="container">
        <p class="copy">
          Taekwondo Times © <span id="copyright-year"></span> All Rights Reserved&nbsp; |&nbsp;
          <a href="index-5.html">Privacy Policy</a>
        </p>
      </div>
    </footer>
  </div>
</div>

<script src="js/script.js"></script>
</body>
</html>