<!DOCTYPE html>
<html lang="en">
<head>
  <title>News & events</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no"/>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/search.css">
  <link rel="stylesheet" href="css/calendar.css"/> 
  <link rel="stylesheet" href="css/style.css">

  <script src="js/jquery.js"></script>
  <script src="js/jquery-migrate-1.2.1.js"></script>

  <!--[if lt IE 9]>
  <html class="lt-ie9">
  <div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
  </div>
  <script src="js/html5shiv.js"></script>
  <![endif]-->

  <script src='js/device.min.js'></script>
</head>
<body>
<div class="page">
  <div class="wrap">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="bg01">
      <div class="bb">
        <div class="container">
          <div class="brand">
            <h1 class="brand_name">
              <a href="./">Taekwondo Times</a>
            </h1>
          </div>
        </div>
      </div>
      <div id="stuck_container" class="stuck_container">
        <div class="container bg01">
          <nav class="nav">
            <ul class="sf-menu" data-type="navbar">
              <li>
                <a href="./">Home</a>
              </li>
              <li>
                <a href="index-1.html">About us</a>
                <ul>
                  <li>
                    <a href="#">Mauris accumsan</a>
                    <ul>
                      <li>
                        <a href="#">Sit amet</a>
                      </li>
                      <li>
                        <a href="#">Consectetuer</a>
                      </li>
                      <li>
                        <a href="#">Adipiscing elit</a>
                      </li>
                      <li>
                        <a href="#">Pellentesque</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Nulla vel diam</a>
                  </li>
                  <li>
                    <a href="#">Sed in lacus ut</a>
                  </li>
                  <li>
                    <a href="#">Enim adipiscing</a>
                  </li>
                </ul>
              </li>
              <li class="active">
                <a href="index-2.html">News & events</a>
              </li>
              <li>
                <a href="index-3.html">Gallery</a>
              </li>
              <li>
                <a href="index-4.html">Contacts</a>
              </li>
            </ul>
          </nav>
          <div class="search-wrap">
            <a class="search-form_toggle" href="#"></a>
            <form class="search-form" action="search.php" method="GET" accept-charset="utf-8">
              <label class="search-form_label">
                <input class="search-form_input" type="text" name="s" autocomplete="off" placeholder="Search.."/>
                <span class="search-form_liveout"></span>
              </label>
              <button class="search-form_submit fa-search" type="submit"></button>
            </form>
          </div>
        </div>
      </div>
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="bg03">
      <section class="well02">
        <div class="container">
          <div class="h2-wrap">
            <h2 class="bg02">Latest News</h2>
          </div>
          <div class="row box01 wow fadeInUp">
            <div class="grid_4">
              <img src="images/page-3_img01.jpg" alt="">
            </div>
            <div class="grid_8">
              <h3><a href="#">Morbi nunc odio gravida a, cursus nec luctus a lorem.</a></h3>
              <p class="info">
                <span class="info-item">April 24</span>
                <span class="info-item primary"><a href="#">2015</a></span>
              </p>
              <p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus. Tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
              <a class="btn" href="#">Read More</a>
            </div>
          </div>
          <div class="row box01 wow fadeInUp" data-wow-delay="0.2s">
            <div class="grid_4">
              <img src="images/page-3_img02.jpg" alt="">
            </div>
            <div class="grid_8">
              <h3><a href="#">Maecenas tristique orci ac sem duis ultricies pharetra magna.</a></h3>
              <p class="info">
                <span class="info-item">April 27</span>
                <span class="info-item primary"><a href="#">2015</a></span>
              </p>
              <p>Aliquam dapibus. Tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Cum sociis natoque penatibus. Nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. </p>
              <a class="btn" href="#">Read More</a>
            </div>
          </div>
          <div class="row box01 wow fadeInUp" data-wow-delay="0.4s">
            <div class="grid_4">
              <img src="images/page-3_img03.jpg" alt="">
            </div>
            <div class="grid_8">
              <h3><a href="#">Donec sit amet eros. Lorem ipsum dolor sit amet, consec.</a></h3>
              <p class="info">
                <span class="info-item">April 28</span>
                <span class="info-item primary"><a href="#">2015</a></span>
              </p>
              <p>Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. </p>
              <a class="btn" href="#">Read More</a>
            </div>
          </div>
        </div>
      </section>
      <section class="well02">
        <div class="container">
          <div class="row">
            <div class="grid_9">
              <div class="h2-wrap_left">
                <h2 class="bg01">Upcoming Events</h2>
              </div>
              <div class="box01 wow fadeInUp">
                <h3><a href="#">Mauris fermentum dictum magna sed laoreet aliquam leo.</a></h3>
                <p class="info">
                  <span class="info-item">May 03</span>
                  <span class="info-item primary"><a href="#">2015</a></span>
                </p>
                <p>Magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies phare tra magna. Donec accumsan malesuada orci. Donec sit amet eros.</p>
                <a class="btn" href="#">Read More</a>             
              </div>
              <div class="box01 wow fadeInUp">
                <h3><a href="#">Ut tellus dolor dapibus eget elementum vel cursus eleifen.</a></h3>
                <p class="info">
                  <span class="info-item">May 05</span>
                  <span class="info-item primary"><a href="#">2015</a></span>
                </p>
                <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci.</p>
                <a class="btn" href="#">Read More</a>             
              </div>
            </div>
            <div class="grid_3">
              <h2 class="bg01 tc">Event Calendar</h2>
              <div class="rd-calendar mt3">
                <div class="rdc-panel rdc-panel_2 bg02">
                    <a class="rdc-next"></a>
                    <a class="rdc-prev"></a>
                    <div class="rdc-month"></div>
                </div>
                <div class="rdc-table"></div>
                <div class="rdc-events">
                    <a class="rdc-events_close"></a>
                    <ul>
                      <li class="rdc-event" data-date="6/12/2015">
                        <time datetime="2015-06-12">Friday, 12 June 2015</time>
                        <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.</p>
                        <a class="btn" href="#">Read More</a> 
                      </li>
                      <li class="rdc-event" data-date="6/16/2015">
                        <time datetime="2015-06-12">Thursday, 16 June 2015</time>
                        <p>Fusce feugiat malesuada odio. Donec accumsan malesuada orci.</p>
                        <a class="btn" href="#">Read More</a>
                      </li>
                      <li class="rdc-event" data-date="6/27/2015">
                        <time datetime="2015-06-12">Saturday, 27 June 2015</time>
                        <p>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Fusce feugiat malesuada odio.</p>
                        <a class="btn" href="#">Read More</a>
                      </li>
                    </ul>
                </div>
              </div>
              <a href="#" class="banner02">
                <div class="banner-text">
                  <p>World Taekwondo</p>
                  <p>Grand Prix Final Queretaro</p>
                  <p>2014</p>
                </div> 
              </a>              
            </div>
          </div>
        </div>
      </section>
    </main>

    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
      <div class="bg01">
        <section class="footer-top">
          <div class="container">
            <div class="row">
              <div class="grid_3">
                <h4>Featured News</h4>
                <div class="box03">
                  <p class="info"><a href="#"><time datetime="2014-11-12">12-05-2015</time></a></p>
                  <p class="info">by <a href="#">admin</a></p>
                  <p>Fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut. fermentum </p>              
                </div>
                <div class="box03">
                  <p class="info"><a href="#"><time datetime="2014-11-12">14-05-2015</time></a></p>
                  <p class="info">by <a href="#">admin</a></p>
                  <p>Dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut. fermentum massa justo sit amet risus. </p> 
                </div>
              </div>
              <div class="grid_3">
                <h4>Most Discussed</h4>
                <ul class="list01 sm">
                  <li><a href="#">Commodo turpis gravi ullamc uti commodo </a></li>
                  <li><a href="#">Ut nequ ligula fringilla utdi commodo sitam justo</a></li>
                  <li><a href="#">Morbi temporbl porttito praesent tincidunter</a></li>
                  <li><a href="#">Pellentesque nulla hass sed urna ut mi molestie</a></li>
                  <li><a href="#">Turpis estibulum et lorem diamed mi metus </a></li>
                  <li><a href="#">Eleifend vel temporitae matet risusmaur et libero</a></li>
                  <li><a href="#">Morbi lacus turpis, imperdiet at gravida</a></li>
                </ul>
              </div>
              <div class="grid_6">
                <h4>Don't Miss This</h4>
                <div class="box">
                  <div class="box_aside">
                    <img src="images/page-3_img05.jpg" alt="">
                  </div>
                  <div class="box_cnt__no-flow sm">
                    <h3>Quam dapibus tincidunt </h3>
                    <p>Condimentum nibh, ut. fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes. </p>
                    <br>
                    <p>Nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget.</p>
                  </div>
                </div>
              </div>
            </div>     
          </div> 
        </section>
      </div>
        <div class="container">
          <p class="copy">
            Taekwondo Times © <span id="copyright-year"></span> All Rights Reserved&nbsp; |&nbsp;
            <a href="index-5.html">Privacy Policy</a>
          </p>
      </div>
    </footer>
  </div>
</div>

<script src="js/script.js"></script>
</body>
</html>