<!DOCTYPE html>
<html lang="en">
<head>
  <title>Privacy Policy</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no"/>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/search.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="js/jquery.js"></script>
  <script src="js/jquery-migrate-1.2.1.js"></script>

  <!--[if lt IE 9]>
  <html class="lt-ie9">
  <div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
  </div>
  <script src="js/html5shiv.js"></script>
  <![endif]-->

  <script src='js/device.min.js'></script>
</head>
<body>
<div class="page">
  <div class="wrap">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="bg01">
      <div class="bb">
        <div class="container">
          <div class="brand">
            <h1 class="brand_name">
              <a href="./">Taekwondo Times</a>
            </h1>
          </div>
        </div>
      </div>
      <div id="stuck_container" class="stuck_container">
        <div class="container bg01">
          <nav class="nav">
            <ul class="sf-menu" data-type="navbar">
              <li>
                <a href="./">Home</a>
              </li>
              <li>
                <a href="index-1.html">About us</a>
                <ul>
                  <li>
                    <a href="#">Mauris accumsan</a>
                    <ul>
                      <li>
                        <a href="#">Sit amet</a>
                      </li>
                      <li>
                        <a href="#">Consectetuer</a>
                      </li>
                      <li>
                        <a href="#">Adipiscing elit</a>
                      </li>
                      <li>
                        <a href="#">Pellentesque</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Nulla vel diam</a>
                  </li>
                  <li>
                    <a href="#">Sed in lacus ut</a>
                  </li>
                  <li>
                    <a href="#">Enim adipiscing</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="index-2.html">News & events</a>
              </li>
              <li>
                <a href="index-3.html">Gallery</a>
              </li>
              <li>
                <a href="index-4.html">Contacts</a>
              </li>
            </ul>
          </nav>
          <div class="search-wrap">
            <a class="search-form_toggle" href="#"></a>
            <form class="search-form" action="search.php" method="GET" accept-charset="utf-8">
              <label class="search-form_label">
                <input class="search-form_input" type="text" name="s" autocomplete="off" placeholder="Search.."/>
                <span class="search-form_liveout"></span>
              </label>
              <button class="search-form_submit fa-search" type="submit"></button>
            </form>
          </div>
        </div>
      </div>
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="bg03">
      <section class="well02 terms">
        <div class="container">
          <div class="h2-wrap">
            <h2 class="bg02">Privacy Policy</h2>
          </div>
          <h3>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla, aliquet nec, vulputate eget, arcu. In enim justo.</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, elei fend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus iverra nulla ut metus varius laoreet. </p>
          <h3>Nulla consequat massa quis enim. Donec pede justo, fringilla, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. </h3>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
          <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
          <h3>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus eleme ntum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu.</h3>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ulla mcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus.</p>
          <h3>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</h3>
          <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.</p>
          <h3>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</h3>
          <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. </p>
          <p><a class="primary" href="mailto:#">privacy@demolink.org</a></p>
        </div>
      </section>
    </main>

    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
      <div class="container">
        <p class="copy">
          Taekwondo Times © <span id="copyright-year"></span> All Rights Reserved&nbsp; |&nbsp;
          <a href="index-5.html">Privacy Policy</a>
        </p>
      </div>
    </footer>
  </div>
</div>

<script src="js/script.js"></script>

<!-- coded by Svetlana15 -->
</body>
</html>