<!DOCTYPE html>
<html lang="en">
<head>
  <title>About us</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no"/>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/search.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="js/jquery.js"></script>
  <script src="js/jquery-migrate-1.2.1.js"></script>

  <!--[if lt IE 9]>
  <html class="lt-ie9">
  <div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
  </div>
  <script src="js/html5shiv.js"></script>
  <![endif]-->

  <script src='js/device.min.js'></script>
</head>
<body>
<div class="page">
  <div class="wrap">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="bg01">
      <div class="bb">
        <div class="container">
          <div class="brand">
            <h1 class="brand_name">
              <a href="./">Taekwondo Times</a>
            </h1>
          </div>
        </div>
      </div>
      <div id="stuck_container" class="stuck_container">
        <div class="container bg01">
          <nav class="nav">
            <ul class="sf-menu" data-type="navbar">
              <li>
                <a href="./">Home</a>
              </li>
              <li class="active">
                <a href="index-1.html">About us</a>
                <ul>
                  <li>
                    <a href="#">Mauris accumsan</a>
                    <ul>
                      <li>
                        <a href="#">Sit amet</a>
                      </li>
                      <li>
                        <a href="#">Consectetuer</a>
                      </li>
                      <li>
                        <a href="#">Adipiscing elit</a>
                      </li>
                      <li>
                        <a href="#">Pellentesque</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Nulla vel diam</a>
                  </li>
                  <li>
                    <a href="#">Sed in lacus ut</a>
                  </li>
                  <li>
                    <a href="#">Enim adipiscing</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="index-2.html">News & events</a>
              </li>
              <li>
                <a href="index-3.html">Gallery</a>
              </li>
              <li>
                <a href="index-4.html">Contacts</a>
              </li>
            </ul>
          </nav>
          <div class="search-wrap">
            <a class="search-form_toggle" href="#"></a>
            <form class="search-form" action="search.php" method="GET" accept-charset="utf-8">
              <label class="search-form_label">
                <input class="search-form_input" type="text" name="s" autocomplete="off" placeholder="Search.."/>
                <span class="search-form_liveout"></span>
              </label>
              <button class="search-form_submit fa-search" type="submit"></button>
            </form>
          </div>
        </div>
      </div>
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="bg03">
      <section class="well02">
        <div class="container">
          <div class="row">
            <div class="grid_9">
              <div class="h2-wrap_left">
                <h2 class="bg02">About Us</h2>
              </div>
              <div class="row box">
                <div class="box_aside grid_4">
                  <img src="images/page-2_img01.jpg" alt="">
                </div>
                <div class="box_cnt__no-flow grid_5">
                  <h3>Amet euismod in auctor ut ligula ali quam dapibus tincidunt metus.</h3>
                  <p>Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim  scing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus. </p>
                  <br>
                  <p>Tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante.</p>
                  <a class="btn" href="#">Read More</a>
                </div>
              </div>  
            </div>
            <div class="grid_3">
              <div class="h2-wrap_right">
                <h2 class="bg02">Join Our Club</h2>
              </div>
              <h3>Auctor ut ligula alia.</h3>
              <p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. </p>
              <p class="text01">Interdum vitae,dapibus accelerisque vitae pede Donec eget tellus non e commodo turpis gravi Ut nequ ligula fringilla utdi commodo sitam justo</p>
              <a class="btn" href="#">Join Us</a>
            </div>
          </div>
        </div>
      </section>
      <section class="well02">
        <div class="container">
          <div class="h2-wrap">
            <h2 class="bg01">Our Instructors</h2>
          </div>
          <div class="row">
            <div class="grid_3">
              <div class="box02 wow fadeInUp">
                <img src="images/page-2_img02.jpg" alt="">
                <div class="box02_cnt" data-equal-group="1">
                  <h4>Eva Adamson</h4>
                  <p>Condimentum nibh, ut fermentum massa justo sit amet risus. </p>
                </div> 
              </div> 
            </div>
            <div class="grid_3">
              <div class="box02 wow fadeInUp" data-wow-delay="0.2s">
                <img src="images/page-2_img03.jpg" alt="">
                <div class="box02_cnt" data-equal-group="1">
                  <h4>David Austin</h4>
                  <p>Fusce dapibus, tellus ac cursus modo, tortor mauris condimentum nibh.</p>
                </div> 
              </div> 
            </div>
            <div class="grid_3">
              <div class="box02 wow fadeInUp" data-wow-delay="0.4s">
                <img src="images/page-2_img04.jpg" alt="">
                <div class="box02_cnt" data-equal-group="1">
                  <h4>Natalie Barnes</h4>
                  <p>Mauris condimentum nibh, ut mentum massa justo sit amet risus. </p>
                </div> 
              </div> 
            </div>
            <div class="grid_3">
              <div class="box02 wow fadeInUp" data-wow-delay="0.6s">
                <img src="images/page-2_img05.jpg" alt="">
                <div class="box02_cnt" data-equal-group="1">
                  <h4>Thomas Bishop</h4>
                  <p>Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque.</p>
                </div> 
              </div> 
            </div>
          </div>
        </div>
      </section>
      <section class="well03">
        <div class="container">
          <div class="h2-wrap">
            <h2 class="bg02">Mission Statements</h2>
          </div>
          <div class="row wow fadeInUp">
            <div class="grid_6">
              <div class="box04">
                <div class="box04_aside">
                  <div class="num">01.</div>
                </div>
                <div class="box04_cnt__no-flow">
                  <h3>Duis ac turpis integer rutrum ante</h3>
                  <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapi bus. Tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante.</p>
                </div>
              </div>
            </div>
            <div class="grid_6">
              <div class="box04">
                <div class="box04_aside">
                  <div class="num">02.</div>
                </div>
                <div class="box04_cnt__no-flow">
                  <h3>Praesent vestibulum molestie lacus</h3>
                  <p>Aliquam dapibus. Tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Cum sociis natoque penatib. us et magnis dis parturient montes.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row wow fadeInUp">
            <div class="grid_6">
              <div class="box04 last">
                <div class="box04_aside">
                  <div class="num">03.</div>
                </div>
                <div class="box04_cnt__no-flow">
                  <h3>Lorem ipsum dolor sit amet con</h3>
                  <p>Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus. Tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Ves tibulum sed ante. Donec sagittis euismod purus.</p>
                </div>
              </div>
            </div>
            <div class="grid_6">
              <div class="box04 last">
                <div class="box04_aside">
                  <div class="num">04.</div>
                </div>
                <div class="box04_cnt__no-flow">
                  <h3>Aenean nonummy hendrerit mauris</h3>
                  <p>Tincidunt metus. Praesent justo dolor, lobortis quis, lobortis di gnissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Cum ciis atoue penatib s et magnis dis par turient montes, nascetur ridiculus mus. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
      <div class="bg01">
        <section class="footer-top">
          <div class="container">
            <h4>Testimonials</h4>
            <div class="row">
              <div class="grid_4">
                <blockquote class="quote">
                  <div class="quote_aside">“</div>
                  <div class="quote_cnt__no-flow">
                    <p>Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus. Tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pul vinar ac, lorem. Vestibulum sed ante. </p>
                    <h3>Mark Johnson</h3>
                  </div> 
                </blockquote>
              </div>
              <div class="grid_4">
                <blockquote class="quote">
                  <div class="quote_aside">“</div>
                  <div class="quote_cnt__no-flow">
                    <p>Aliquam dapibus. Tincidunt metus. Prae sent justo dolor, lobortis quis, lobortis dig nissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Cum sociis natoque penatib.</p>
                    <h3>Bradley Grosh</h3>
                  </div>                
                </blockquote>            
              </div>
              <div class="grid_4">
                <blockquote class="quote">
                  <div class="quote_aside">“</div>
                  <div class="quote_cnt__no-flow">
                    <p>Tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sa gittis euismod purus. Cum sociis natoq. ue penatibus et magnis dis partu.</p>
                    <h3>Jessica Priston</h3>
                  </div>                
                </blockquote>            
              </div>
            </div>
          </div> 
        </section>
      </div>
        <div class="container">
          <p class="copy">
            Taekwondo Times © <span id="copyright-year"></span> All Rights Reserved&nbsp; |&nbsp;
            <a href="index-5.html">Privacy Policy</a>
          </p>
      </div>
    </footer>
  </div>
</div>

<script src="js/script.js"></script>
</body>
</html>