<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contacts</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no"/>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/search.css">
  <link rel="stylesheet" href="css/contact-form.css">
  <link rel="stylesheet" href="css/google-map.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="js/jquery.js"></script>
  <script src="js/jquery-migrate-1.2.1.js"></script>

  <!--[if lt IE 9]>
  <html class="lt-ie9">
  <div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
  </div>
  <script src="js/html5shiv.js"></script>
  <![endif]-->

  <script src='js/device.min.js'></script>
</head>
<body>
<div class="page">
  <div class="wrap">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="bg01">
      <div class="bb">
        <div class="container">
          <div class="brand">
            <h1 class="brand_name">
              <a href="./">Taekwondo Times</a>
            </h1>
          </div>
        </div>
      </div>
      <div id="stuck_container" class="stuck_container">
        <div class="container bg01">
          <nav class="nav">
            <ul class="sf-menu" data-type="navbar">
              <li>
                <a href="./">Home</a>
              </li>
              <li>
                <a href="index-1.html">About us</a>
                <ul>
                  <li>
                    <a href="#">Mauris accumsan</a>
                    <ul>
                      <li>
                        <a href="#">Sit amet</a>
                      </li>
                      <li>
                        <a href="#">Consectetuer</a>
                      </li>
                      <li>
                        <a href="#">Adipiscing elit</a>
                      </li>
                      <li>
                        <a href="#">Pellentesque</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Nulla vel diam</a>
                  </li>
                  <li>
                    <a href="#">Sed in lacus ut</a>
                  </li>
                  <li>
                    <a href="#">Enim adipiscing</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="index-2.html">News & events</a>
              </li>
              <li>
                <a href="index-3.html">Gallery</a>
              </li>
              <li class="active">
                <a href="index-4.html">Contacts</a>
              </li>
            </ul>
          </nav>
          <div class="search-wrap">
            <a class="search-form_toggle" href="#"></a>
            <form class="search-form" action="search.php" method="GET" accept-charset="utf-8">
              <label class="search-form_label">
                <input class="search-form_input" type="text" name="s" autocomplete="off" placeholder="Search.."/>
                <span class="search-form_liveout"></span>
              </label>
              <button class="search-form_submit fa-search" type="submit"></button>
            </form>
          </div>
        </div>
      </div>
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main class="bg03">
      <section class="well02">
        <div class="container">
          <div class="h2-wrap">
            <h2 class="bg02">Contact Us</h2>
          </div>
          <div class="map">
          <div id="google-map" class="map_model"></div>
            <ul class="map_locations">
              <li data-x="-73.9874068" data-y="40.643180">
                <p> 9870 St Vincent Place, Glasgow, DC 45 Fr 45</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="well02">
        <div class="container">
          <div class="row">
            <div class="grid_4">
              <div class="h2-wrap_left">
                <h2 class="bg01">Address</h2>
              </div>
              <h3>8901 Marmora Road,<br>Glasgow, D04 89GR.</h3>
              <address class="addr">
                <dl>
                  <dt>Freephone:</dt>
                  <dd><a href="callto:#">+1 800 559 6580</a></dd>
                </dl>
                <dl>
                  <dt>Telephone:</dt>
                  <dd><a href="callto:#">+1 800 603 6035</a></dd>
                </dl>
                <dl>
                  <dt>FAX:</dt>
                  <dd><a href="callto:#">+1 800 889 9898</a></dd>
                </dl>
                <dl>
                  <dt>E-mail:</dt>
                  <dd><a class="primary" href="mailto:#">mail@demolink.org</a></dd>
                </dl>
              </address>
            </div>
            <div class="grid_8">
              <div class="h2-wrap_right">
                <h2 class="bg01">Get in Touch</h2>
              </div>
              <form id="contact-form" class='contact-form'>
                <div class="contact-form-loader"></div>
                <fieldset>
                    <div class="input-wrap">
                        <label class="name">
                            <input type="text" name="name" placeholder="Name*:" value=""
                                   data-constraints="@Required @JustLetters"/>

                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid name.</span>
                        </label>
                        <label class="email">
                            <input type="text" name="email" placeholder="Email*:" value=""
                                   data-constraints="@Required @Email"/>

                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid email.</span>
                        </label>
                        <label class="phone">
                            <input type="text" name="phone" placeholder="Telephone:" value=""
                                   data-constraints="@JustNumbers"/>

                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid phone.</span>
                        </label>
                    </div>
                    <label class="message">
                        <textarea name="message" placeholder="Comment*:"
                                  data-constraints='@Required @Length(min=20,max=999999)'></textarea>

                        <span class="empty-message">*This field is required.</span>
                        <span class="error-message">*The message is too short.</span>
                    </label>
                    <a class="btn" href="#" data-type="submit">Submit</a>
                    <span class="text02">*required fields</span>
                </fieldset>
                <div class="modal fade response-message">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                You message has been sent! We will be in touch soon.
                            </div>
                        </div>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
      <div class="container">
        <p class="copy">
          Taekwondo Times © <span id="copyright-year"></span> All Rights Reserved&nbsp; |&nbsp;
          <a href="index-5.html">Privacy Policy</a>
        </p>
      </div>
    </footer>
  </div>
</div>

<script src="js/script.js"></script>
</body>
</html>