.formsectionheader {
    margin-top: 10px;
    background-color: #e0d7b3;
    width: 100%;
}

.formlabel {
    font-weight: bold;
}

.formentry {
    margin-left: 5px;
}

.formentry input[type=text] {
    font-size: 12pt;
    width: 90%;
}

.formentry input[type=button] {
    cursor: default;
    color: buttontext;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
}

.formentry textarea {
    font-size: 12pt;
    width: 90%;
}

.formnote {
    margin-left: 10px;
    font-size: 9pt;
}